.App {
  text-align: center;
}

.FirstPg{
  text-align: center;
}

a:link {
  color: royalblue;
}

.App-table{
  border-color: slateblue;
}

a:hover {
  color: hotpink;
}

.App-header {
  height: 150px;
  padding: 100px;
}

.App-intro {
  font-size: large;
}


td{
  text-align: left;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
